body {
    background-color: grey;
    position: relative;
    width: 80%;
    height: 600px;
    text-align: center;
}
.header{
	background-color: rgb(185,185,185);
    position: relative;
    top: 10px;
    width: 80%;
    height: 50px;
    margin: auto;
    vertical-align: middle;
    line-height: 50px;
}
.nav{
    background-color: rgb(185,185,185);
    position: relative;
    top: 20px;
    width: 80%;
    height: 50px;
    margin: auto;
    vertical-align: middle;
    line-height: 50px;
}
.section{
    background-color: rgb(185,185,185);
    position: absolute;
    top: 190px;
    left: 110px;
    width: 38%;
    height: 160px;
}
.aside {
    background-color: rgb(185,185,185);
    position: absolute;
    top: 190px;
    right: 110px;
    width: 38%;
    height: 160px;
}
.footer {
    background-color: rgb(185,185,185);
    position: relative;
    top: 200px;
    width: 80%;
    height: 50px;
    margin: auto;
    vertical-align: middle;
    line-height: 50px;
}
.article{
background-color: grey;
    position: relative;
    width: 90%;
    height: 120px;
    text-align: center;
    margin: auto;
    vertical-align: middle;
}
.h1{
    background-color: rgb(185,185,185);
    position: relative;
    top: 10px;
    width: 80%;
    height: 30px;
    margin: auto;
    vertical-align: middle;
    line-height: 30px;
}
.p{
    background-color: rgb(185,185,185);
    position: relative;
    top: 20px;
    width: 80%;
    height: 30px;
    margin: auto;
    vertical-align: middle;
    line-height: 30px;
}